<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/styleB2.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Bubbles&display=swap" rel="stylesheet">
	<title>Asdgh2</title>
</head>
<body>

	<div class="logo">ASDGH</div>
<div class="header">
<div class="container">

	<div class="header_items">
		                <nav class="nav">
                            
                            <a class="nav__link "href="#">Возможности</a>
                            <a class="nav__link "href="#">Подробнее</a>
                             <a class="nav__link "href="#">Войти</a>
                            

                        
<div class="d1">
  <form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
  </form>


  </nav>
</div>
	</div>
</div>
</div>

<div class="store">
	<div class="container">
		<div class="store_items">
			<div class="store_text">Students gets 15% of almost everything! Limited time only</div>
			<div class="store_text2">you can easy buy this products</div>
			<div class="store_text3">lets faster give money</div>
		</div>
	</div>
</div>

 <div class="container">
 	<div class="mans_main">
 		<div class="mans_main_items">
 			<div class="mans_main_imgs"><img class="mans_main_img" src="img2/mans1.jpg">
 				<img class="mans_main_img" src="img2/mans2.jpg"></div>
 				
 			<div class="mans_main_texts">1980 style</div>
 			<div class="mans_main_btns"><a href="index6" class="mans_main_btn">Shop Now</a></div>
 		</div>
 	</div>
 </div>

 <div class="container">
 	<div class="p_main">
 		<div class="p_main_items">
 			<div class="p_main_imgs">
 			     <img class="p_main_img" src="img2/p1.jpg">
 			     <img class="p_main_img" src="img2/p2.jpg">
 		         <img class="p_main_img" src="img2/p3.jpg">
 	             <img class="p_main_img" src="img2/pr4.jpg">
 	         </div>
 			<div class="p_main_texts1">
 				<div class="p_main_text1">trousers</div>
 				<div class="p_main_text2">hoodies</div>
 				<div class="p_main_text3">jackets</div>
 				<div class="p_main_text4">accessories</div>
 			</div>
 			<div class="p_main_texts2"></div>
 		</div>
 	</div>
 </div>


 <div class="big">
 	<div class="container">
 		<div class="big_items">
 			<div class="big_texts">
 				<div class="big_text1">Style feed</div>
 				<div class="big_text2">most popular clothes of this site</div>
 			</div>
 			<div class="big_cards">
 				<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img2/b1.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						<div class="card_text2">you can find</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img2/bi2.jpg"></div>
 						<div class="card_text">Outfit of week</div>
 						<div class="card_text2">you can find</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img2/b3.jpg"></div>
 						<div class="card_text">Outfit of year</div>
 						<div class="card_text2">you can find</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img2/bi4.jpg"></div>
 						<div class="card_text">Outfit of holidays</div>
 						<div class="card_text2">you can find</div>
 					</div>
 				</div>
 			</div>
 			<div class="big_btn">
 				<a href="" class="big_btnn">Shop Now</a>
 			</div>
 		</div>
 	</div>
 </div>

 <div class="store2">
	<div class="container">
		<div class="store_items">
			<div class="store_text">Students gets 15% of almost everything! Limited time only</div>
			<div class="store_text2">you can easy buy this products</div>
			<div class="store_text3">lets faster give money</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="last">
		<div class="last_items">

			<div class="last_items1">
			<div class="last_imgs"><img class="last_img" src="img2/l1.jpg"></div>
			<div class="last_texts">
				<div class="last_text1">second</div>
				<div class="last_text2">1980</div>
			</div>
			<div class="last_btn"><a href="" class="last_btnn">Go to 1980</a></div>
			</div>

			<div class="last_items1">
			<div class="last_imgs"><img class="last_img" src="img2/l2.jpg"></div>
			<div class="last_texts">
				<div class="last_text1">hand</div>
				<div class="last_text2">1990</div>
			</div>
			<div class="last_btn"><a href="" class="last_btnn">Go to 1990</a></div>w
			</div>



		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<div class="footer_items">
			<div class="namee">
			<div class="name">HELP & INFORMATION</div>
			<div class="name">ABOUT US</div>
			<div class="name">MORE FROM ASDGH</div>
			<div class="name">SHOPPING FROM</div>
			</div>
			<div class="name_infoo">
			<div class="name_info">help</div>
			<div class="name_info">track order</div>
			<div class="name_info">delivery</div>
			<div class="name_info">premiere delivery</div>
			<div class="name_info">15% discounts</div>
			</div>
						<div class="name_infoo1">
			<div class="name_info">about us</div>
			<div class="name_info">careers</div>
			<div class="name_info">corporate resposibility</div>
			<div class="name_info">investors</div>
			<div class="name_info">cyber security</div>
			</div>
									<div class="name_infoo2">
			<div class="name_info">mobile apps Asdgh</div>
			<div class="name_info">marketplace</div>
			<div class="name_info">gift vouchers</div>
			<div class="name_info">black friday</div>
			<div class="name_info">journey resposibility</div>
			</div>
									<div class="name_infoo3">
			<div class="name_info">You are in Kazakhstan</div>
	


		</div>
	</div>	
</footer>
</body>
</html>