<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styleB7.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Bubbles&display=swap" rel="stylesheet">
	<title>asdgh7</title>
</head>
<body>
<div class="logo">ASDGH</div>
<div class="header">
<div class="container">

	<div class="header_items">
		                <nav class="nav">
                            
                            <a class="nav__link "href="#">Возможности</a>
                            <a class="nav__link "href="#">Подробнее</a>
                             <a class="nav__link "href="#">Войти</a>
                            

                        
<div class="d1">
  <form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
  </form>


  </nav>
</div>
	</div>
</div>
</div>
<div class="big">
 	<div class="container">
 		<div class="big_items">
 			<div class="big_texts">
 				<div class="big_text1">Women's Sale</div>
 				<div class="big_text2">32,315 styles found</div>
 			</div>
 			<div class="big_cards">
 				<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k1.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						<div class="card_text2">35$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/kk2.jpg"></div>
 						<div class="card_text">Outfit of week</div>
 						<div class="card_text2">22$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k3.jpg"></div>
 						<div class="card_text">Outfit of year</div>
 						<div class="card_text2">55$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k4.jpg"></div>
 						<div class="card_text">Outfit of holidays</div>
 						<div class="card_text2">48$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="big_cards">
 				<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k5.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						<div class="card_text2">52$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k6.jpg"></div>
 						<div class="card_text">Outfit of week</div>
 						<div class="card_text2">25$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k7.jpg"></div>
 						<div class="card_text">Outfit of year</div>
 						<div class="card_text2">36$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k8.jpg"></div>
 						<div class="card_text">Outfit of holidays</div>
 						<div class="card_text2">47$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="big_cards">
 				<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k9.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						<div class="card_text2">65$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k10.jpg"></div>
 						<div class="card_text">Outfit of week</div>
 						<div class="card_text2">52$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k11.jpg"></div>
 						<div class="card_text">Outfit of year</div>
 						<div class="card_text2">63$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/k12.jpg"></div>
 						<div class="card_text">Outfit of holidays</div>
 						<div class="card_text2">64$</div>
 						<div class="btn_m">
 						<a class="card_btn" href="">add</a>
 						</div>
 					</div>
 				</div>
 			</div>
 			
 		</div>
 	</div>
 </div>

 <div class="container">
 	<div class="y_main">
 		<div class="y_items">
 			<div class="y_text">You've viewed 12 of 32,284 products</div>
 			<div class="y_btn_main">
 			<a class="y_btn" href="">Load more</a>
 			</div>
 		</div>
 	</div>
 </div>

<footer class="footer">
	<div class="container">
		<div class="footer_items">
			<div class="namee">
			<div class="name">HELP & INFORMATION</div>
			<div class="name">ABOUT US</div>
			<div class="name">MORE FROM ASDGH</div>
			<div class="name">SHOPPING FROM</div>
			</div>
			<div class="name_infoo">
			<div class="name_info">help</div>
			<div class="name_info">track order</div>
			<div class="name_info">delivery</div>
			<div class="name_info">premiere delivery</div>
			<div class="name_info">15% discounts</div>
			</div>
						<div class="name_infoo1">
			<div class="name_info">about us</div>
			<div class="name_info">careers</div>
			<div class="name_info">corporate resposibility</div>
			<div class="name_info">investors</div>
			<div class="name_info">cyber security</div>
			</div>
									<div class="name_infoo2">
			<div class="name_info">mobile apps Asdgh</div>
			<div class="name_info">marketplace</div>
			<div class="name_info">gift vouchers</div>
			<div class="name_info">black friday</div>
			<div class="name_info">journey resposibility</div>
			</div>
									<div class="name_infoo3">
			<div class="name_info">You are in Kazakhstan</div>
	


		</div>
	</div>	
</footer>
</body>
</html>