<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styleB.css">
	<script type="text/javascript" src="main.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Bubbles&display=swap" rel="stylesheet">
	<title>asdgh</title>
</head>
<body>
<div class="logo">ASDGH</div>
<div class="header">
<div class="container">

	<div class="header_items">
		                <nav class="nav">
                            
                            <a class="nav__link "href="index4">Account</a>
                            <a class="nav__link "href="index6">Catalog</a>
                             <a class="nav__link "href="#">About us</a>
                            

                        
<div class="d1">
  <form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
  </form>


  </nav>
</div>
	</div>
</div>
</div>


<div class="container">
	<div class="main">
		<div class="main_img">
			<img class="main_imgg" src="img/1.jpg">
			<img class="main_imgg" src="img/2.jpg">
		</div>
		<div class="main_text">
			<a href="index2" class="btn">Man</a>
			<a href="index3" class="btn1">Woman</a>
		</div>
	</div>
</div>

<div class="store">
	<div class="container">
		<div class="store_items">
			<div class="store_text">Students gets 15% of almost everything! Limited time only</div>
			<a href="" class="btn2">Shop now</a>
			<a href="" class="btn3">Get code</a>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<div class="footer_items">
			<div class="namee">
			<div class="name">HELP & INFORMATION</div>
			<div class="name">ABOUT US</div>
			<div class="name">MORE FROM ASDGH</div>
			<div class="name">SHOPPING FROM</div>
			</div>
			<div class="name_infoo">
			<div class="name_info">help</div>
			<div class="name_info">track order</div>
			<div class="name_info">delivery</div>
			<div class="name_info">premiere delivery</div>
			<div class="name_info">15% discounts</div>
			</div>
						<div class="name_infoo1">
			<div class="name_info">about us</div>
			<div class="name_info">careers</div>
			<div class="name_info">corporate resposibility</div>
			<div class="name_info">investors</div>
			<div class="name_info">cyber security</div>
			</div>
									<div class="name_infoo2">
			<div class="name_info">mobile apps Asdgh</div>
			<div class="name_info">marketplace</div>
			<div class="name_info">gift vouchers</div>
			<div class="name_info">black friday</div>
			<div class="name_info">journey resposibility</div>
			</div>
									<div class="name_infoo3">
			<div class="name_info">You are in Kazakhstan</div>
	


		</div>
	</div>	
</footer>

</body>
</html>