<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styleB5.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Bubbles&display=swap" rel="stylesheet">
	<title>asdgh5</title>
</head>
<body>
<div class="logo">ASDGH</div>
<div class="header">
<div class="container">

	<div class="header_items">
		                <nav class="nav">
                            
                            <a class="nav__link "href="#">Account</a>
                            <a class="nav__link "href="index7">Catalog</a>
                             <a class="nav__link "href="#">About us</a>
                            

                        
<div class="d1">
  <form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
  </form>


  </nav>
</div>
	</div>
</div>
</div>

<div class="my_main">
	<div class="my_text">My Account</div>
</div>

<div class="container">
	<div class="user_main">
		<div class="user_items">
			<img class="user_img" src="img4/ava.jpeg">
			<div class="user_text">User Name</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="k_main">
		<div class="k_items">
			<div class="k_menu">
				<img class="menu_img" src="img4/order.png">
				<a href="" class="menu_text">My orders</a>
			</div>
			<div class="k_menu">
				<img class="menu_img" src="img4/return.png">
				<a href="" class="menu_text">My returns</a>
			</div>
			<div class="k_menu">
				<img class="menu_img" src="img4/location.png">
				<a href="" class="menu_text">My location</a>
			</div>
			<div class="k_menu">
				<img class="menu_img" src="img4/vip.png">
				<a href="" class="menu_text">Premiere delivery</a>
			</div>
			<div class="k_menu">
				<img class="menu_img" src="img4/wallet.png">
				<a href="" class="menu_text">Payment methods</a>
			</div>


		</div>
	</div>
</div>

<div class="container">
	<div class="c_main">
		<div class="c_items">
			<div class="c_text">My Orders</div>
			<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c1.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c222.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c3.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					
 			        </div>
		</div>
		<div class="cards_items">
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c4.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c55.jpg"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					</div>
 					<div class="card">
 						<div class="card_img"><img class="cardimg" src="img4/c6.png"></div>
 						<div class="card_text">Outfit of summer</div>
 						
 					
 			        </div>
		</div>
	</div>
</div>

</body>
</html>