body{
	background-color: #EAE7DC;
}
.logo{
	font-family: 'Rubik Bubbles', cursive;
	font-size: 40px;
	text-align: center;
	color: #E98074;
}
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.header{
    width: 100%;
    height: 80px;
    position: absolute;
	
	left: 0;
	right: 0;
    
    background-color: #D8C3A5;

    

}
.header_items{
	display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;

}
.nav
{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin-left: -140px;

    
}
.nav__link
{

    color: #8E8D8A;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
    margin-left: 140px;
    
}
.nav__link:hover
{
    opacity: 1;
    color: #fff;

}
.d1 {background: #A3D0C3;
	margin-top: -18px;
	margin-left: 164px;
}
.d1 input {
  width: 500px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #E85A4F;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;

}
.d1 button {
  position: absolute; 

  width: 46px;
  height: 46px;
  border: none;
  background: #E85A4F;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;

  
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.main{
 padding-top: 120px;

}
.main_img{

			display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	text-decoration: none;
	padding: 8px 80px;
	border: 3px solid #000;
	font-size: 20px;
	font-weight: 700;
	background-color: #000;
	text-transform: uppercase;
    color: #fff;
    margin-left: 180px;
    font-family: 'Montserrat', sans-serif;

}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.btn1{
	text-decoration: none;
	padding: 8px 80px;
	border: 3px solid #000;
	font-size: 20px;
	font-weight: 700;
	background-color: #000;
	text-transform: uppercase;
    color: #fff;
    position: absolute;
    margin-left: 900px;
    font-family: 'Montserrat', sans-serif;
    }
    .btn1:hover{
	background-color: #fff;
	color: #000;
}
.main_text{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;

}

.store{
	width: 100%;
	height: 200px;
	background-color: #E85A4F;
    position: absolute;
	left: 0;
	right: 0;
	text-align: center;

}
.store_items{
	max-width: 800px;
    margin: 0 auto;
   
}
.store_text{
	padding-top: 20px;
	font-size: 35px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	
}
.btn2{
	text-decoration: none;
	padding: 8px 80px;
	border: 3px solid #fff;
	font-size: 20px;
	font-weight: 700;
	background-color: #fff;
	text-transform: uppercase;
    color: #000;
    position: absolute;
    margin-left: -350px;
    margin-top: 20px;
    
    }
    .btn3{
	text-decoration: none;
	padding: 8px 80px;
	border: 3px solid #fff;
	font-size: 20px;
	font-weight: 700;
	background-color: #fff;
	text-transform: uppercase;
    color: #000;
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
    }

.footer{
	width: 100%;
	height: 280px;
	background-color: #123c69;
    position: absolute;
	left: 0;
	right: 0;

	margin-top: 240px;

}
.footer_items{
	display: flex;
	justify-content: space-between;
	margin-left: -70px;
}
.namee{
	display: flex;
	justify-content: space-between;
}
.name{
  margin-left: 170px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-top: 40px;
  
}
.name_infoo{
	position: absolute;
	margin-top: 80px;
	margin-left: 170px;
	color: #fff;

}
.name_info{
	padding: 5px 0;

}
.name_infoo1{
	position: absolute;
	margin-top: 80px;
	margin-left: 523px;
	color: #fff;

}
.name_infoo2{
	position: absolute;
	margin-top: 80px;
	margin-left: 780px;
	color: #fff;

}
.name_infoo3{
	position: absolute;
	margin-top: 80px;
	margin-left: 1120px;
	color: #fff;

}

