body{
	background-color: #EAE7DC;
}
.logo{
	font-family: 'Rubik Bubbles', cursive;
	font-size: 40px;
	text-align: center;
	color: #E98074;
}
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.header{
    width: 100%;
    height: 80px;
    position: absolute;
	
	left: 0;
	right: 0;
    
    background-color: #D8C3A5;

    

}
.header_items{
	display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;

}
.nav
{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin-left: -140px;

    
}
.nav__link
{

    color: #8E8D8A;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
    margin-left: 140px;
    
}
.nav__link:hover
{
    opacity: 1;
    color: #fff;

}
.d1 {background: #A3D0C3;
	margin-top: -18px;
	margin-left: 164px;
}
.d1 input {
  width: 500px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #E85A4F;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;

}
.d1 button {
  position: absolute; 

  width: 46px;
  height: 46px;
  border: none;
  background: #E85A4F;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;

  
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.my_main{
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.my_text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #E85A4F;
	text-align: center;
}
.user_main{
	width: 400px;
	height: 200px;
	background-color: #fff;
	

}
.user_img{
	width: 100px;
	border-radius: 100px;
	margin-top: 50px;
	margin-left: 20px;
}
.user_text{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 140px;
	margin-top: -50px;
}

.k_main{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
	height: 330px;
	background-color: #fff;
	margin-top: 20px;
}
.k_menu{
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid #808080;

}
.menu_img{
	width: 40px;
	margin-left: 30px;
	margin-top: 20px;
}
.menu_text{
	font-size: 25px;
	text-align: center;
	margin-left: 30px;
	margin-top: 29px;
	text-decoration: none;
	color: #000;
}

.c_main{
	width: 800px;
	height: 653px;
	background-color: #fff;
	margin-left: 450px;
	margin-top: -550px;
	font-family: 'Montserrat', sans-serif;
}
.c_text{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
}
.cards_items{
	display: flex;
	justify-content: space-between;
}
.card{
	text-align: center;
}

.cardimg{
	width: 200px;
	height: 250px;
}
.card_text{
   width: 250px;
   height: 40px;
   background-color: #000;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;


}